/* Toolbar */
.chat{
    display: flex;
    flex-direction: column;
}

.chat-toolbar {
    border: 1px solid grey;
    padding: 5px;
}

.chat-body {
    flex-grow: 1;
    overflow-y: scroll;
}

.messages-list > li{
    display: flex;
    flex-direction: column;
}

.date {
    padding: 4px 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 4px;
    font-style: bold;
    align-self: center;
}

.message-box {
    display: flex;
    margin: 2px 6px;
    align-items: center;
}

.message-input-box {
    flex-grow: 1;
    display: flex;
    border-radius: 40px;
    margin: 5px;
}

.messages-list {
    list-style-type: none;
    padding-left: 0px;
}

/* For Chrome, Edge, Safari */
.chat-body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
.chat-body::-webkit-scrollbar-track {
  background: rgba(155, 247, 186, 0.4);      /* color of the tracking area */
}

.chat-body::-webkit-scrollbar-thumb {
  background-color: green;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(68, 235, 143);  /* creates padding around scroll thumb */
}

/* For Firefox */
.chat-body {
  scrollbar-width: thin;
  scrollbar-color: rgb(68, 235, 143)  rgba(155, 247, 186, 0.4);
}