.home {
    height: 100%;
    border: 1px solid black;
    display: flex;
}

.user-chats {
    min-width: 230px;
    width: 30%;
    height: 100%;
    border : 1px solid grey;
}

.chat {
    flex-grow: 1;
    border: 1px solid grey;
}