.message {
    display: flex;
    align-items: flex-start;
    margin: 2pt 5pt;
}

.sender-picture {
    width: 34px;
    object-fit: "contain";
    border-radius: 100%;
    margin: 5pt;
    align-self: flex-start;
}

.message-container {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    /* border: 1px solid black; */
}

#sender-name {
    display:none;
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: small;
    /* border: 1px solid black; */
}

.message-layout {
    display: flex;
    margin-top: 16px;
    margin-bottom: 2px;
    flex-direction: column;
    background: rgba(111, 196, 111, 0.5);
    border-radius: 0px 10px 10px 10px;
    /* border: 1px solid black; */

}

.message-body {
    display: flex;
    padding-left: 4px;
    padding-right: 2px;
}

.message-text {
    flex-grow: 1;
    margin: 2px;
    /* border: 1px solid black; */
}

.message-timestamp {
    align-self: flex-end;
    margin: 2px 4px 2px 5px;
    font-size: small;
    color: grey;
    /* border: 1px solid black; */
}

.message-status {
    display: none;
    align-self: flex-end;
    margin-right:8px;
    margin-bottom: 0px;
    font-size: x-small;
    color: grey;
}

.hide-sender-pic .sender-picture{
   visibility: hidden;
   margin-bottom: 0px;
}
.hide-sender-pic .message-layout {
    margin-top: 2px;
}

.show-sender-name .message-layout {
    margin-top:0px;
}
.show-sender-name #sender-name {
    display: block;
}

.right-layout {
    justify-content: flex-end;  /* right layout */
}
.right-layout .sender-picture {
    display:none;
}
.right-layout .message-status {
    display: inline;
}
.right-layout .message-layout {
    margin-top: 0px;
    border-radius: 10px 0px 10px 10px;
}