.user-chats {
    display: flex;
    flex-direction: column;
}

.toolbar{
    display: flex;
    align-items: center;
}

.user-picture {
    width: 40px;
    object-fit: "contain";
    border-radius: 50%;
    margin: 5pt;
}

.search-button {
    margin: 5pt
}
.search-layout > form {
    flex-grow: 1;
    margin: 5pt
}

.search-layout {
    display: flex;
    align-items: center;
    padding: 5pt;
}

.chat-list {
    list-style-type: none;
    padding-left: 0px;
    overflow-y: scroll;
}

.chat-list > li:hover, .active-chat-item{
    background-color: rgb(92, 124, 92, 0.8);;
}


.chat-list::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
}
.chat-list::-webkit-scrollbar-track {
    background: rgba(155, 247, 186, 0.4);      /* color of the tracking area */
}   

.chat-list::-webkit-scrollbar-thumb {
    background-color: green;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgb(68, 235, 143);  /* creates padding around scroll thumb */
}

/* For Firefox */
.chat-list {
  scrollbar-width: thin;
  scrollbar-color: rgb(68, 235, 143)  rgba(155, 247, 186, 0.4);
}